.nav{
    background:#a9b5f1;
    height: 36px;
    line-height: 36px;  
    font-size: 16px; 
}
/* 用户部分 */
.nav .user{
    float: left;
}
.nav .user.login{
    display: none;
}
.nav .user .link{
    margin-right: 5px;
    color: #212709;
}
/* 导航链接部分 */
.nav .nav-list{
    float: left; 
}
.nav .nav-list .nav-item{
    display: inline-block;
    margin-left: 5px;
}
.nav .nav-list .nav-item .link{
    color: #212709;
}