<div class="footer">
    <div class="w">
        <div class="links">
            <a href=""> 友情链接:</a>
            <a class="link" href="https://www.vip.com/" target="_blank">唯品会</a> |
            <a class="link" href="https://www.taobao.com" target="_blank">淘宝</a> |
            <a class="link" href="https://www.jd.com" target="_blank">京东</a>  |
            <a class="link" href="http://www.swpu.edu.cn/" target="_blank">西南石油大学</a> 
        </div>
        <p class="copyright">
          © 2018 爱购商城 京ICP证030564125号 lovebuy.com 京公网安备1102000068号 
        </p>
    </div>
</div>
<script type="text/javascript" src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>

