.nav-simple{
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid #ddd;
    background: #fff;
    text-align: center;
}
.nav-simple .logo{
    font-size: 36px;
    font-weight: bolder;
    color:  #2c0684;
    text-align: center;
    text-decoration: none;
    font-family: '幼圆';
}